{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "DBCONN":"Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=postgres",
        "JWTSECRET":"secret",
        "StorageAcountStringConection":"connectionstring",
        "UserContainerBlobs":"user container images",
        "EMAIL_USERNAME":"emailteste@gmail.com",
        "EMAIL_PASSWORD":"passwordEmail",
        "SMTP_SERVER":"smtp.gmail.com",
        "SMTP_PORT":"587",
        "Front_URL":"www.google.com"
    },
    "Host": {
    "CORS": "*"
  }
}